/* :root {
  --text: #0a1024;
  --background: #ebeefa;
  --primary-button: #8b66e8;
  --accent: #9831b4;
} */

* {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text);
  caret-color: var(--accent);
}

a {
  text-decoration: none;
}

/* header component */
.header--container {
  background-color: var(--background);
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
  padding: 1rem 0;
  border-bottom: 2px var(--accent) solid;
}

.header--title {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  margin-left: 50px;
  vertical-align: middle;
}

.header--nav {
  font-size: 1.1rem;
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
}

.theme {
  color: var(--primary-button);
  cursor: pointer;
}

.nav--item {
  background-color: var(--primary-button);
  color: var(--background);
  padding: 5px 10px;
  border: 2px var(--primary-button) solid;
  border-radius: 5px;
  transition: 0.2s;
}

/* home component */
.home--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: fit-content;
  margin: 25vh auto;
  opacity: 0;
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

.input--prompt {
  font-size: 2rem;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 10px;
}

.input--options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: 10px;
  border: 2px var(--accent) solid;
  border-radius: 7.5px;
}

.input--url,
.input--sentences {
  font-size: 1.2rem;
  width: 90%;
  margin: 10px auto;
  border: 2px solid rgba(128, 128, 128, 0.425);
  border-radius: 7.5px;
  padding: 5px;
}

.input--url:focus,
.input--sentences:focus {
  outline: none;
  border: 2px solid var(--accent);
}

.input--sentence__prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-size: 1.2rem;
}

.sentence--prompt {
  width: fit-content;
  height: fit-content;
}

.sentence--selector {
  width: 10%;
}

.input--button,
.summary--button {
  width: fit-content;
  margin: 10px auto;
}

.input--button > button,
.summary--button > button,
.contact--send > button {
  font-size: 1.4rem;
  padding: 6px 18px;
  /* color: var (--text); */
  color: var(--background);
  background-color: var(--primary-button);
  border: 2px var(--primary-button) solid;
  border-radius: 7.5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover,
.nav--item:hover {
  background-color: var(--background);
  border: 2px var(--accent) solid;
  color: var(--accent);
  transition: 0.2s;
}

/* error component */
.error--title {
  font-size: 4rem;
  text-align: center;
  color: red;
}

/* summary component */
.summary--container {
  margin: 10vh auto;
  width: 80%;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: justify;
  opacity: 0;
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
  line-height: 1.8rem;
}

.list--container {
  padding: 5px 30px;
  padding-right: 0;
}

.summary--hr {
  margin: 10px 0;
  border: 1px solid var(--accent);
}

.article--img {
  height: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.article--img > img {
  height: 100%;
}

/* help */

.help--container {
  height: fit-content;
  width: fit-content;
  margin: 150px auto;
  margin-bottom: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px var(--accent) solid;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

.help--head {
  font-size: 1.6rem;
  text-align: center;
}

.help--instructions {
  font-size: 1.4rem;
  line-height: 2.1rem;
  padding: 1.5% 5%;
}

.help--hr {
  border: 1px var(--accent) solid;
  margin: 10px auto;
}

/* contact */

.contact--container {
  height: fit-content;
  width: 400px;
  margin: 150px auto;
  margin-bottom: 0;
  padding: 30px;
  border: 2px var(--accent) solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

.contact--head {
  font-size: 1.6rem;
}

.contact--input {
  width: 100%;
  font-size: 1.2rem;
  border: 2px solid rgba(128, 128, 128, 0.425);
  border-radius: 7.5px;
  padding: 5px;
  margin-top: 20px;
}

.contact--input:focus {
  outline: none;
  border: 2px solid var(--accent);
}

.contact--send > button {
  font-size: 1.2rem;
  margin-top: 20px;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.footer--content,
footer a {
  font-size: 1rem;
  padding: 10px;
  background-color: transparent;
}

.icon {
  background-color: transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .header--container {
    flex-direction: column;
    height: fit-content;
    padding-top: 20px;
    z-index: 2;
  }

  .header--nav {
    margin: 30px 0;
  }

  .nav--item {
    margin: 5px;
    width: 100%;
    text-align: center;
  }

  .home--container {
    width: 90%;
  }

  .help--container,
  .contact--container {
    width: 70vw;
    margin: 200px auto;
  }

  .contact--container {
    margin: 200px auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .header--container {
    flex-direction: column;
    height: fit-content;
    padding-top: 20px;
    z-index: 2;
  }

  .header--nav {
    margin: 30px 0;
  }

  .nav--item {
    margin: 5px;
    width: 100%;
    text-align: center;
  }

  .help--container {
    width: 75vw;
    margin: 200px auto;
  }

  .contact--container {
    margin: 200px auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .help--container {
    width: 80vw;
  }
}
